<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>编辑问卷</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label for="L_email" class="layui-form-label">
                        <span class="x-red">*</span>问卷标题</label>
                    <div class="layui-input-inline">
                        <input type="text" required="" lay-verify="nikename" autocomplete="off" class="layui-input"
                            v-model="title">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>问卷简介</label>
                    <div style="margin: 0 35px;">
                        <textarea required="" lay-verify="nikename" v-model="content" autocomplete="off"
                            class="layui-textarea"></textarea></div>
                </div>

                <div class="layui-form-item" v-for="item,index in questions" :key="index">
                    <label for="L_username" class="layui-form-label">
                        <span  v-html="index+1"></span>.{{item.title}}</label>
                        <div v-if="item.type==0">
                            <div style="margin: 0 35px;" class="layui-form-item" v-for="i in item.content.split(',')" :key="i">
                                <input type="radio" :name="index+1"  :title="i" class="layui-form-radio">
                            </div>
                        </div>
                        <div v-else-if="item.type==1">
                            <div style="margin: 0 35px;" class="layui-form-item" v-for="i in item.content.split(',')" :key="i">
                                <input type="checkbox" :name="index+1"  :title="i" class="layui-form-radio">
                            </div>
                        </div>
                        <div v-else>
                            <div style="margin: 0 35px;" class="layui-form-item" >
                                <textarea type="checkbox" class="layui-textarea"></textarea>
                            </div>
                        </div>
                </div>
                
                <div id="addQuestion" class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">问题类型</label>
                    <div class="layui-input-inline">
                        <select v-model="type" class="valid">
                            <option value="0" selected>单选题</option>
                            <option value="1">多选题</option>
                            <option value="2">填空题</option>
                        </select>
                    </div>
                    <button class="layui-btn" lay-filter="add_question" v-on:click="webAddQuestion">增加问题</button>

                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="" v-on:click="saveQuestionnaire">保存</button>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script>
        var editQuestions = new Vue({
            el: ".layui-fluid",
            data: {
                id: 1,
                title: "",
                content: "",
                questions:new Array(),
                sort: 0,
                type: 0,
            },
            methods: {
                saveQuestionnaire: function () {
                    var param = {
                        question: this.title,
                        content: this.content,
                        status: 0
                    }
                    if (this.id == 0) {
                        $.ajax({
                            url: baseUrl + "que/v1/",
                            type: "POST",
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(param),
                            success: function (res) {
                                if (res.code == 0) {
                                    this.id = res.data
                                    $("#addQuestion").show();
                                } else {
                                    layui.msg("添加失败," + res.msg)
                                }
                            }
                        })
                    } else {
                        //关闭当前frame
                        xadmin.close();
                        // 可以对父窗口进行刷新 
                        xadmin.father_reload();
                    }

                },
                webAddQuestion: function () {
                    xadmin.open('添加单选问题', './question.html?id=' + this.id)
                },
                loadQuestionnaire: function () {
                    $.get(baseUrl+"que/v1/"+this.id,res=>{
                        this.title = res.data.title;
                        this.content = res.data.content;
                        editQuestions.loadQuestions();
                    })
                },
                loadQuestions:function(){
                    $.get(baseUrl+"que/v1/q/"+this.id,res=>{
                        this.questions = res.data;
                    })
                },
                editQuestion:function(id){
                    xadmin.open("修改问题",'question-edit.html?id='+id);
                }
            },
            created: function () {
                // $("#addQuestion").hide();
                this.loadQuestionnaire();
            }
        })
        
        
        layui.use(['form', 'layer', 'jquery'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function (value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function (value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });
            });
    </script>

</body>


</html>